.article div:first-of-type {
  margin-bottom: 2rem;
}

.article div:first-of-type > h1 {
  margin-bottom: 0.5rem;
}

.article div:first-of-type > span {
  font-style: italic;
}

.article div:not(:first-of-type) > div {
  margin-bottom: 5rem;
}

.div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
  width: 100%;
}

.div div:first-child {
  align-self: flex-start;
  margin-bottom: 1rem;
}

.div div:last-child {
  align-self: flex-end;
}

.div a {
  display: flex;
  width: 100%;
  flex-direction: row;
  font-style: italic;
}

.div div a img {
  height: 1rem;
  margin: 0 0.5rem;
}
