.main_nav {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  width: 100%;
}

.main_nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: white;
  padding: 0.75em 15px;
  text-decoration: none;
  min-width: 5rem;
  text-align: center;
}

.main_nav > a > h1 {
  margin: auto;
  padding: 5px;
}

.main_nav a,
.main_nav a:visited {
  color: black;
}

.main_nav > div {
  display: flex;
  flex-direction: row;
}

.main_nav img {
  align-self: center;
  margin: auto;
}
