.four04 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.four04 div h1 {
  font-size: 5rem;
}

.four04 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.four04 div p {
  font-size: 1.5rem;
}
