.hero_section div:first-of-type {
  margin-right: 5px;
}

.highlighted {
  background-size: 200%;
  background-color: #fbc531;
}

.line {
  margin: 1.5rem 0;
  width: 112px;
  border-bottom: 1px solid #dcdde1;
}

.line_2 {
  margin: 1.5rem 0;
  width: 100%;
  border-bottom: 1px solid #dcdde1;
}

.social_div {
  display: flex;
  flex-direction: column;
}

.social_div * {
  margin: 0;
}

.articles_section > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.articles_section div:not(:first-of-type) {
  display: flex;
  flex-direction: column;
}

.articles_section > div > h2 {
  font-size: 1.75rem;
}

.articles_section > div > a {
  font-style: italic;
  margin-left: 2rem;
  font-weight: normal;
  color: #718093;
}

.articles_section div:last-child a {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.article_meta_info {
  display: flex;
  flex-direction: row;
  font-style: italic;
  font-size: 0.8rem;
  color: #718093;
}

.articles_section div:last-child p {
  margin-top: 0.5rem;
}

.projects_section {
  display: flex;
  flex-direction: column;
}

.projects_section > div {
  width: 100%;
  height: 200px;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}

.projects_section div:hover {
  box-shadow: 1px 8px 15px grey;
  transition: box-shadow 0.6s ease-in;
}

/* https://freefrontend.com/css-cards/ */
/* https://codepen.io/Kalyan_Lahkar/pen/wpeaJx?editors=1100 */

@media only screen and (min-width: 800px) {
  .hero_section {
    flex-direction: row;
    padding: 0;
  }

  .projects_section {
    flex-direction: row;
    justify-content: space-between;
  }

  .projects_section > div {
    width: 45%;
  }
}
